{% extends "base.html" %}

{% block title %}Home - Library Reader{% endblock %}

{% block content %}
<h2>Vítejte v aplikaci Library Reader</h2> 
<p>Nahraj fotku tvých knih a aplikace ti vypíše seznam knih a autorů</p>
<p>Ideálně nahraj fotku hřbetu knih</p>
<p>Budeš k nim moci přidat své hodnocení a komentáře</p>

<form id="uploadForm" method="POST" enctype="multipart/form-data">
    <div class="file-input-container">
        <input type="file" name="image" id="image">
    </div>
    <input type="submit" value="Převést na text">
    <a href="{{ url_for('books') }}">Seznam všech knih</a>
</form>

<script>
    document.getElementById('uploadForm').addEventListener('submit', (event) => {
        const fileInput = document.getElementById('image');
        const file = fileInput.files[0];

        if (file) {
            const fileSizeMB = file.size / (1024 * 1024); // Convert file size to MB
            if (fileSizeMB > 4) { // Check if file size exceeds 4 MB
                alert('Soubor je příliš velký. Maximální velikost je 4 MB.');
                event.preventDefault(); // Prevent form submission
                return;
            }
        } else {
            alert('Vyberte prosím soubor.');
            event.preventDefault(); // Prevent form submission
        }
    });

    // Update the "Soubor nevybrán" text when a file is selected
    document.getElementById('image').addEventListener('change', (event) => {
        const fileInput = event.target;
        const fileStatus = document.getElementById('fileStatus');
        if (fileInput.files.length > 0) {
            fileStatus.textContent = fileInput.files[0].name;
        } else {
            fileStatus.textContent = 'Soubor nevybrán';
        }
    });
</script>

{% endblock %}